<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="crearCancionFormulario" (submit)="crearCancion()">
    <ion-item>
      <ion-label>Nombre Canción</ion-label>
      <ion-input formControlName="nombreCancion" type="text"
       placeholder="¿Cuál es el nombre de la canción?"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nombre Artista</ion-label>
      <ion-input formControlName="nombreArtista" type="text"
       placeholder="¿Quién canta la canción?"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nombre Album</ion-label>
      <ion-input formControlName="nombreAlbum" type="text"
       placeholder="¿Cuál es el nombre del album?"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descripción Cancion</ion-label>
      <ion-input formControlName="descripcionCancion" type="text"
       placeholder="¿De qué trata la canción?"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!crearCancionFormulario.valid">Agregar Canción</ion-button>
  </form>

</ion-content>
